{
  "groups": {
    "group:ops": ["ops@example.org"]
  },
  "tagOwners": {
    "tag:ops": ["group:ops"],
    "tag:jetson": ["group:ops"]
  },
  "acls": [
    {
      "action": "accept",
      "src": ["tag:ops"],
      "dst": ["tag:jetson:*"]
    }
  ],
  "autoApprovers": {
    "routes": {}
  }
}
