# Headscale / private access values

HEADSCALE_SERVER_URL=https://EDIT_ME
HEADSCALE_BASE_DOMAIN=EDIT_ME
HEADSCALE_ENROLLMENT_METHOD=preauth_key_or_manual
HEADSCALE_PREAUTH_KEY=DO_NOT_COMMIT_REAL_KEY

PRIVATE_ACCESS_POLICY=trusted_staff_only
PUBLIC_PORT_FORWARDING_ALLOWED=0

R900_TAILNET_NAME=r900
JETSON_A_TAILNET_NAME=jetson-a
JETSON_B_TAILNET_NAME=jetson-b
JETSON_C_TAILNET_NAME=jetson-c

PI_DEFAULT_TAILNET_PREFIX=pi
DEVICE_TAGS_EXAMPLE=tag:lab,tag:private
