# Service URLs

R900_INTERNAL_SITE=http://r900.lab.internal
R900_DOCS_MIRROR=http://r900.lab.internal/docs
R900_PORTAINER=https://r900.lab.internal:9443
R900_NODE_RED=http://r900.lab.internal:1880
R900_MQTT=tcp://r900.lab.internal:1883

JETSON_A_OPEN_WEBUI=http://jetson-a.lab.internal:3000
JETSON_A_MODEL_SERVER=http://jetson-a.lab.internal
JETSON_A_PORTAINER=https://jetson-a.lab.internal:9443
JETSON_A_LOCAL_DOCS=http://jetson-a.lab.internal/docs

JETSON_B_STATUS_PAGE=http://jetson-b.lab.internal:8080
JETSON_C_STATUS_PAGE=http://jetson-c.lab.internal:8080

DIGITAL_FACTORY_URL=https://digitalfactory.ultimaker.com/
HEADSCALE_ADMIN_URL=EDIT_ME
TAILNET_BASE_DOMAIN=lab.internal

CNCJS_URL=EDIT_ME_if_enabled
SYNCTHING_PORTAL=EDIT_ME_if_used
