# Legacy Service URLs
# Use ops/lab/service-urls.example for current placeholders.

LAB_BRAIN_COCKPIT=http://r900.lab.internal
LAB_BRAIN_DOCS_FALLBACK=http://r900.lab.internal/docs
OPENWEBUI_URL=http://jetson-a.lab.internal:3000
MODEL_SERVER_URL=http://jetson-a.lab.internal
PORTAINER_URL=https://r900.lab.internal:9443
NODERED_URL=http://r900.lab.internal:1880
SYNCTHING_A_URL=http://jetson-a.lab.internal:8384
SYNCTHING_R900_URL=http://r900.lab.internal:8384
CNCJS_URL=EDIT_ME_if_enabled
DIGITAL_FACTORY_URL=https://digitalfactory.ultimaker.com/
